<h2>All Spookygrams</h2>

<% @posts.each do |post| %>
    <%= content_tag(:div, class: "card") do %>
        <%= content_tag(:div, class: "card-body") do %>
            <h4>Kim</h4>
        <% end %>
        <%= image_tag(post.img_url, class: "card-img") %>
        <%= content_tag(:div, post.caption, class: "card-body") %>
    <% end %>
    <br>
    <br>
<% end %>