// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}